{% include "front/fr/bloc/head-import.html.twig" %}

<body>
    
        {% include "front/fr/bloc/header.html.twig" %}
    
   <main role="main">

        <div class="container marketing  pb-5" >
        
            {% include "front/fr/bloc/baniere-img.html.twig" %}
        
            <div>
                <!-- START : BLOC INFO VOUYAGEURS -->
        
            {% include "front/fr/bloc/info-travel.html.twig" %}         
        
            {% include "front/fr/bloc/communication.html.twig" %}   

            </div>
       
            {% include "front/fr/bloc/footer.html.twig" %}    
        
        </div>
    </main>

    
        {% include "front/fr/bloc/import-js.html.twig" %}    
    




