{% extends 'back/base.html.twig' %}

{% block title %}Edit Action{% endblock %}

{% block body %}
    <h1>Edit Action</h1>

    {{ include('back/action/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_action_index') }}">back to list</a>

    {{ include('back/action/_delete_form.html.twig') }}
{% endblock %}
