<div class="row">

  <div class="col-lg-4">
    <div class="card mb-0">
    <div class="card-header " style=" background-color: #1F487E;background-color: #ffc107de;">
    <h5 class="card-title py-1 pl-2" style="margin-bottom: 0px;">الأخبار</h5>
    </div>
      <div class="card-body">
        <!-- <h5 class="card-title" style="text-transform: uppercase;padding-right: 20px;font-size:17px; text-align:right;font-weight:bold;color:#999"></h5> -->
        <div class="list-group" style="padding-right:20px;padding-top:5px">
          <a href="article.php" class="list-group-item list-group-item-action flex-column align-items-start  list-group-item-adapter-first" style="padding-right: 0px;">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1 " style="color:#454">نقطة بيع جديدة لاشتراكات ...</h6>

            </div>
            <small class="text-muted" style="text-align: right;float:right">23 نوفمبر 2022</small>
            <p class="mb-1 " style="color:#666;text-align: right;float:right;margin-right:0px">
            تنطلق شركة النقل بتونس مع عودة العمل بنظام الحصتين وتماشيا...
           </p>
            <small style="text-align: right;float:right">إقرأ المزيد...</small>
          </a>
          <a href="article.php" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-adapter" style="padding-right: 0px;float:right">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1" style="color:#454">عرض  مع عودة العمل بنظام الحصتين</h6>
            </div>
            <small class="text-muted" style="text-align: right;float:right">23 نوفمبر 2022</small>
            <p class="mb-1" style="color:#666;text-align: right;float:right;margin-right:0px">
 ستنطلق شركة النقل بتونس بداية من يوم الثلاثاء 6 سبتمبر الجاري .
</p>
            <small style="text-align: right;float:right">إقرأ المزيد...</small>
          </a>
          <a href="article.php" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-adapter" style="padding-right: 0px;">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1" style="color:#454">29  اشتراكات النقل المدرسي و الجامعي</h6>
            </div>
            <small class="text-muted" style="text-align: right;float:right">23 نوفمبر 2022</small>
            <p class="mb-1" style="color:#666;text-align: right;float:right;margin-right:0px">
            ستـنطلق شركة النقل بتونس في بيع الاشتراكات المدرسية و الجامعية (خطوط الحافلات والمترو والخط الحديدي ت. ح. م)
                    </p>
          </p>
            <small style="text-align: right;float:right">إقرأ المزيد...</small>
          </a>
        </div>


      </div>
      <a href="#" class="card-button"> Toutes les Nouvelles</a>
      <!-- <div class="card-footer" style="border-top: 2px solid #004c99!important;float:right">
        <small class="text-muted" style="float:right"><a href="#">Toutes les Nouvelles</a></small>
      </div> -->
    </div>
  </div>

  <div class="col-lg-8">
      {% include "front/ar/bloc/fragment_bloc/communication-card-widget-events.html.twig" %}
  </div>


</div>
