
<div class="row pl-5 py-3">
  <h3>Récrutements</h3>
  <hr />
</div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body     ">
                        <h5 class="card-title">Concours 2020 </h5>
                        <p class="card-text">

                        Concours numéro 01/2020 pour conducteur de file d'attente

                    </p>
                    <button type="button"  onclick="document.location.href='http://recrutement2019.transtu.tn/'" class="btn btn-primary-news">Détail</button>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Concours 2016</h5>
                        <p class="card-text">

                       Concours n°12/2016 pour les agents de renforcement du système de sécurité des transports publics

                        </p>
                        <button type="button"  onclick="document.location.href='https://recrutement.transtu.tn/'" class="btn btn-primary-news">détail</button>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Contrat CDD</h5>
                        <p class="card-text">

                        Recrutement à titre d'un contrat CDD
                        CONCOURS À TITRE D'UN CONTRAT CDD

                        </p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        <button type="button"  onclick="document.location.href='https://www.transtu.tn/fr/0045-concours-a-titre-d-un-contrat-cdd.html'" class="btn btn-primary-news">détail</button>
                    </div>
                </div>
            </div>

        </div>






